

body {
    background-color: #8bb08d;
}

.header {
    background-color: #8bb08d;
    position: fixed;
    top: 0;
    left: 0;
    height: 150px;
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    justify-content: space-between;
}

.logo {
    height: 120px;
    margin-left: 40px;
}

.navLinks {
    display: flex;
    gap: 30px;

    a {
        color: black;
        font-size: 18px;
        text-decoration: none;
    }
}

.childrenWrapper {
    margin-top: 150px;
}
