.refSheetBtn {
    position: fixed;
    right: -40px;
    top: 30%;
    transform: rotate(-90deg);
    transition: right 0.5s;
    border-radius: 5px;
    padding: 5px;
    padding-bottom: 15px;
    color: white;
    background-color: green;
    border: none;
    font-size: 12px;
}

    .refSheetBtn:hover {
        right: -35px;
    }
