
.closeBtn {
    padding-bottom: 0;
}

.header {
    border-bottom: 3px solid #cccccc;
}

.headerText {
    margin: 0 15px 15px;
    font-size: 2rem;
    color: #036d16;
}

.body {
    padding: 15px 20px;
    
}

.item {
   text-align: left;
   line-height: 1.25;
}

.includeFlex {
    text-align: right;
}

.price {
    color:#03ae22;
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    line-height: 1.25;
}

.refSheetBtn {
    position: fixed;
    right: -40px;
    top: 30%;
    transform: rotate(-90deg);
    transition: right 0.5s;
    border-radius: 5px;
    padding: 5px;
    padding-bottom: 15px;
    color: white;
    background-color: green;
    border: none;
    font-size: 12px;
}

    .refSheetBtn:hover {
        right: -35px;
    }