
.wrapper {
    margin: 15px;
    display: flex;
    align-items: center;
}

.heroWrapper {
    background-color: #000;
    height: 750px;
    width: 100%;
}

.heroText {
    color: #fff;
    font-size: 80px;

    b {
        font-weight: 800;
    }
}